
@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('fonts/IosevkaCustom-Condensed.woff2') format('woff2'), url('fonts/IosevkaCustom-Condensed.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/IosevkaCustom-Regular.woff2') format('woff2'), url('fonts/IosevkaCustom-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('fonts/IosevkaCustom-CondensedItalic.woff2') format('woff2'), url('fonts/IosevkaCustom-CondensedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/IosevkaCustom-Italic.woff2') format('woff2'), url('fonts/IosevkaCustom-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('fonts/IosevkaCustom-CondensedBold.woff2') format('woff2'), url('fonts/IosevkaCustom-CondensedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/IosevkaCustom-Bold.woff2') format('woff2'), url('fonts/IosevkaCustom-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('fonts/IosevkaCustom-CondensedBoldItalic.woff2') format('woff2'), url('fonts/IosevkaCustom-CondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Custom Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/IosevkaCustom-BoldItalic.woff2') format('woff2'), url('fonts/IosevkaCustom-BoldItalic.ttf') format('truetype');
}


html {
    font-family: 'Iosevka Custom Web';
}
